<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mercadolibre.puboe.meli" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SearchBox"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
            <!--android:launchMode="singleTop"-->
        <activity
            android:name=".SearchResults"
            android:label="@string/title_activity_search_results"
            android:parentActivityName=".SearchBox" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mercadolibre.puboe.meli.SearchBox" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <service
            android:name=".tracker.ItemTrackerService"
            android:exported="false" />

        <service
            android:name=".robospice.SearchRetrofitSpiceService"
            android:exported="false" />

        <service
            android:name=".robospice.ItemRetrofitSpiceService"
            android:exported="false" />

        <receiver android:name=".tracker.AlarmBroadcastReceiver" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".SearchBox">
        </activity>
    </application>

</manifest>
